<%- include('partials/navbar') %>
    <section>
        <!--nevigation bar-->
        <div class="container-fiuid">
            <ul>
                <a href="/"><img class="logo_style" src="images/web-hosting-logo.png"
                        alt="canadian_web_hosting logo"></a>
                <li><a href="/login">Login</a></li>>
                <li><a href="/register">Register</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/">Home</a></li>

            </ul>
            <br>
            <br>
        </div>
    </section>


    <section>
        <!-- search Section-->
        <div class="container">
            <div class="row">
                <form class="search col-12">
                    <input type="text" placeholder="Find your perfect domain" name="search">
                    <button type="submit"><i>Search</i></button>
                    <span><img src="images/search(L1).jpeg" alt="Search section image 1">C$9.99</span>
                    <span><img src="images/search(L2).jpeg" alt="Search section image 2">C$11.99</span>
                    <span><img src="images/search(L3).jpeg" alt="Search section image 3">C$14.99</span>
                    <br>
                    <br>
                    <br>

                </form>
            </div>
        </div>

    </section>

    <!--Hero section-->
    <section>
        <div class="container-fiuid">
            <img src="images/advertise(webhosting).jpg" alt="Advertisement IMG" style="width:100%;">

        </div>
        <br><br><br><br>
    </section>

    <!--Content section-->
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(1).jpg" alt="Web hosting logo">
                    <h2>Web Hosting</h2>
                    <h5>Get fast and unlimited Web hosting for your site</h5>
                    <button class="conButt" type="submit"><i>Get Hosting</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(2).jpg" alt="Web hosting logo">
                    <h2>Cloud Servers</h2>
                    <h5>Take full control with our fastest virtual servers</h5>
                    <button class="conButt" type="submit"><i>Compare Clouds</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(3).jpg" alt="Web hosting logo">
                    <h2>Dedicated Srvers</h2>
                    <h5>Boost your business with dedicated hardware</h5>
                    <button class="conButt" type="submit"><i>View Servers</i></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <img class="conImg" src="images/content(4).jpg" alt="Web hosting logo">
                    <h2>Wordpress</h2>
                    <h5>Manage your WordPress websites easily</h5>
                    <button class="conButt" type="submit"><i>Get Wordpress</i></button>
                </div>

            </div>

        </div>
        <br><br><br><br>
    </section>

    <!--footer section-->


    <div class="container-fiuid">
        <div class=" text-center">
            <div class="foot1">
                <br><br>
                <h2 style="color: white;">Ready to Get Started? We’re available 24/7!</h2>
                <div class="footBut">
                    <button type="submit" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"><i>Call us at
                            1-542-542-5421</i></button>
                    <button type="submit" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4"><i>Chat with
                            us</i></button>
                    <button type="submit" class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"><i>Search your Perfect
                            Domain</i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="foot2">
        <div class="container-fiuid">
            <div class="row text-center">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Hoasting & Servers</h4>
                    <p>Canadian Web Hoasting</p>
                    <p>Canadian Cloud Servers</p>
                    <p>Reseller Web Hoasting</p>
                    <p>Dedicated Servers</p>
                    <p>Managed Wordpress</p>
                    <p>Anycast DNS</p>
                    <p>Free website Migration</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Domains & Websites</h4>
                    <p>Domain Name Search</p>
                    <p>Domain Name Transfer</p>
                    <p>Weebly Site Builder</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Security & SSL</h4>
                    <p>SSL Certificates</p>
                    <p>SiteSafe Protection</p>
                    <p>Enterprise Anti-Spam</p>
                    <p>Domain Privacy Protection</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Online Marketing</h4>
                    <p>Search Engine Optimization</p>
                    <p>Email Marketing</p>
                    <p>Affiliate Program</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Company</h4>
                    <p>Blog & News</p>
                    <p>About WHC</p>
                    <p>WHC Reviewssting</p>
                    <p>Green Web Hosting</p>
                    <p>Contact us</p>
                    <p>Careers</p>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <h4>Support</h4>
                    <p>Help Center</p>
                    <p>Open Support Ticket</p>
                    <p>Check System Status</p>
                </div>

            </div>
            <br>
            <hr>

            <div class="row">
                <div>
                    <h5>FOLLOW US</h5>
                </div>
                <div>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>

            </div>
        </div>
    </div>

    <%- include('partials/footer') %>