<%- include('partials/navbar') %>

  <style>
    body {
      background: linear-gradient(#4f2ad1, #d14053);
    }

    .login-container {
      background-color: white;
      max-width: 350px;
      z-index: 100;
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: 37%;
      padding-top: 100px;

    }

    .logoImg {
      height: 100px;
      width: 110px;
      border-radius: 50%;
      margin-left: 35%;
      margin-top: -60px;
    }

    .header3 {
      color: black;
      text-align: center;
    }

    .form-control {

      border-radius: 1px;
      color: inherit;
      display: block;
      padding: 6px 12px;
      width: 90%;

      margin-left: 10px;
      margin-right: 10px;
    }

    .form-control {
      box-shadow: none;
    }

    .checkBox {
      text-align: center;
    }

    .forget-pass {
      text-align: center;
      color: black;
    }

    .forget-pass :hover {

      color: blue;
      transition: 0.3s;
    }

    .forget-password {
      text-align: center;
    }

    .log-butt {
      width: 90%;
      height: 45px;
      margin-left: 10px;
      margin-right: 10px;
      color: white;
      background-color: rgb(69, 69, 212);

    }

    .last-row {
      background-color: burlywood;
      height: 55px;
      width: 100%;
      margin-top: 45px;
    }

    .link-sign {
      margin-top: 20px;
      margin-left: 30px;
    }
  </style>
  <div class="login-container">
    <div>
      <h1>
        <a href="home.html"><img src="images/newLogo.jpg" class="logoImg" /></a>
      </h1>
    </div>
    <h3 class="header3">Sign In Web Hosting</h3>
    <div class="mssg bg-info shadow text-center text-white " style="border-radius: 10px;">
      <span id="check"></span>
    </div>
    <form id="form1">
      <div>

      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="email" required="" />
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" class="form-control"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[1-9]).{6,12}"
          title=" password must be 6 to 12 characters and the password must have capital and small letters and numbers"
          placeholder="password" required="" />
      </div>

      <br>
      <div class="checkBox">
        <input type="checkbox" id="terms" name="terms" required="">

        <label for="terms"> Remember Me</label><br><br>
      </div>

      <div class="forget-password"><a class="forget-pass" href="#">Forgot Password?</a></div>

      <br>
      <button type="button" onclick="login()" class="log-butt" formaction="home.html">Log In</button>



      <div class="last-row">
        <p class="link-sign"> Need to WHC?<a href="/register"> Sign up</a></p>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    function login() {


      $.ajax({
        type: 'POST',
        url: '/postlogin',
        data: $('#form1').serialize(),
        dataType: "json",
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        success: function (response) {
          //alert("a");

          // $('#form1')[0].reset();

          document.getElementById("check").innerHTML = response.message;
          //ADD THIS CODE
          if (response.succes) {
            localStorage.setItem("user", response.message)
            localStorage.setItem("useremail", response.email)
            localStorage.setItem("usertype", response.type)

            document.getElementById("check").innerHTML = "Hy  " + localStorage.getItem("useremail") + " you are  Login  Successfully..!";


          };
          setTimeout(function () {
            document.getElementById("check").innerHTML = "";
            window.location.href = "/Dashboard";
          }, 3000);

        },
        error: function (err) {
          console.log(err)
        }
      });


    }
  </script>

  <%- include('partials/footer') %>